:root {
    --header-height: 75px;
    --subnav-height: 40px
}

* {
    padding: 0;
    margin: 0;
    line-height: initial;
    box-sizing: border-box;
    -webkit-tap-highlight-color: transparent;
}

html {
    position: relative;
    font-family: 'Open Sans', Arial, Helvetica, sans-serif;
    font-size: 62.5%;
    line-height: 1.4;
}

#main {
    overflow: hidden;
}

.flex-a {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.flex-b {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.flex-cen {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.flex-e {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}


/* Default button (Transparent) */
.btn {
    min-width: 175px;
    padding: 15px 40px;
    border-radius: 25px;
    background-color: transparent;
    text-transform: uppercase;
    border: 2px solid #fff;
    cursor: pointer;
    font-weight: 500;
    margin: 30px 0;
}

.btn a {
    display: block;
    color: #fff;
    text-decoration: none;
    font-size: 1.6rem;
}

.btn:hover {
    background-color: #fff;
    color: #000;
}

/* White button */
.btn-white {
    background-color: #fff;
    border: 1px solid #dbdbdb;
}

.btn-white a {
    color: #000;
    text-decoration: none;
}

.btn-white:hover {
    background-color: #000;
}

.btn-white:hover a {
    color: #fff;
}

/* Black button */
.btn-black {
    background-color: #000;
}

.btn-black a {
    color: #fff;
    text-decoration: none;
}

.btn-black:hover {
    background-color: #fff;
}

.btn-black:hover a {
    color: #000;
}


.btn + .btn {
    margin-left: 20px;
}