/* PC low resolution */
@media (min-width: 64em) and (max-width: 77.4375em) {
    .header__logo {
        width: 150px;
    }

    .header__nav-label {
        padding: 12px;
    }

    .analysis__item {
        margin: 30px 15px;
    }
}

/* Tablet & Mobile */
@media (max-width: 63.9375em) {
    /* Header */
    .header__nav {
        flex-direction: column;
        position: fixed;
        top: 0;
        left: 10px;
        right: 10px;
        background-color: #2C2C2C;
        color: #fff;
        min-width: 40vw;
        transform: translateY(-100%);
        transition: transform linear 0.25s;
    }

    .header__menu-icon {
        display: flex;
    }

    .header__nav-item {
        height: 60px;
        justify-content: space-between;
        border-bottom: 2px solid #fff;
    }

    .header__nav-btn {
        width: 100%;
        display: flex;
        justify-content: space-between;
    }

    .header__nav-btn:hover {
        color: #000;
    }

    .header__nav-label {
        margin: 0;
    }

    .header__nav-icon {
        padding: 10px;
        border: 1px solid #fff
    }

    #header__mobile-inp:checked ~ .header__nav {
        transform: translateY(var(--header-height));
    }

    .header__info {
        max-width: 40%;
    }

    .welcome__title {
        text-align: center;
        margin-bottom: 30px;
        border: none;
    }

    .welcome__desc { 
        text-align: center;
    }
}

/* Tablet */
@media (min-width: 46.25em) and (max-width: 63.9375em) {
    .flex-cen {
        flex-wrap: nowrap;
    }

    .slider__arrow {
        --square: 50px;
    }

    .gallery__img {
        margin: 8px 0;
    }

    .article__info {
        margin-left: 15px;
    }

    .subscribe__input {
        flex: 1;
    }
}

/* Mobile */
@media (max-width: 46.1875em) {
    #header .grid.wide, 
    #container .grid.wide,
    #footer .grid.wide {
        padding: 0 10px; 
    }

    .header__nav {
        min-width: 60vw;
    }

    .header__nav-item:hover .header__nav-icon {
        border: none;
        margin-right: 10px;
    }

    .header__info {
        max-width: 75%;
    }

    .slider__title {
        font-size: 3.5rem;
        max-width: 80%;
    }

    .slider__desc {
        font-size: 1rem;
    }

    .slider__btn {
        flex-direction: column;
    }

    .slider .btn {
        margin: 10px 0;
    }

    .btn + .btn {
        margin-left: 0;
    }

    .slider__arrow {
        --square: 40px;
    }

    .gallery__img {
        margin: 5px 0;
    }

    .testimonial__intro {
        max-width: 80%;
    }

    .analysis__item {
        border-right: none;
    }

    .article__img {
        max-width: 100%;
    }

    /* Subscribe */
    .subscribe .flex-cen {
        /* flex-wrap: wrap; */
    }

    .subscribe__input {
        min-width: 95%;
    }

    /* Footer */
    #footer .flex-b {
        justify-content: center;
    }

    .footer__logo {
        position: relative;
        left: 50%;
        transform: translateX(-50%);
    }

    .footer__copyright {
        margin-bottom: 20px;
    }
}